{% extends 'base.html' %}
 
{% block content %}
<h1>{{user.username}}</h1>
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<div class="profile-container">    
     
        <!-- {% include 'study_app1/topic_component.html' %} -->
    <div>
        <h2>feeds</h2>
        {% include 'study_app1/feed_component.html' %}
    </div>
    <div>
        {% include 'study_app1/activity_component.html' %}
    </div>
    
</div>
{% endblock content %}